[submodule "Graphic/Resources/Vectors/Lucide"]
	path = Graphic/Resources/Vectors/Lucide
	url = https://github.com/lucide-icons/lucide
[submodule "External/iPlug2"]
	path = External/iPlug2
	url = https://github.com/MochiAudio/iPlugBase
